account-history {
  background: #fff;
  .account-history {

    &__no-history {
      padding: 30px 20px;
      background: transparentize(#000, .95);
      text-align: center;
      font-size: 1.2em;
      color: #616161;
    }
  }
}